h2 {
    color: dodgerblue;
    /* color: rgba(255, 99, 132, 1);
    color: rgba(54, 162, 235, 1);
    color: rgba(255, 206, 86, 1);
    color: rgba(0, 255, 0, 1);
    color: rgba(102, 0, 204, 1);
    color: rgba(255, 128, 0, 1); */

  }

.chart {
    width: 100%;
}

/* color: rgba(238, 83, 79, 1);
color: rgba(238, 83, 79, 1);
color: rgba(255, 168, 39, 1); */
